templates/arm-mon-infra.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
            "agEmailReceivers": {
                "type": "object"
            },
        "slackUri": {
            "type": "string",
            "metadata": {
                "description": "URI to Slack Webhook"
            }
        },
        "slackChannel": {
            "type": "string",
            "defaultValue": "#cnp-monitoring",
            "metadata": {
                "description": "Name of the Slack Channel to send alerts"
            }
        },
        "environmentName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Environment"
            }
        },
        "branch": {
            "type": "string",
            "defaultValue": "Unknown",
            "metadata": {
                "description": "source branch"
            }
        },
        "managedBy": {
            "type": "string"
        },
        "solutionOwner": {
            "type": "string"
        },
        "activityName": {
            "type": "string"
        },
        "dataClassification": {
            "type": "string"
        },
        "automation": {
            "type": "string"
        },
        "costCentre": {
            "type": "string"
        },
        "environment": {
            "type": "string"
        },
        "criticality": {
            "type": "string"
        }
    },
    "variables" : {
        "agName" : "[concat('aks_',parameters('environmentName'),'_action_group')]",
        "agShortName" : "[concat('aks',parameters('environmentName'))]",
        "logicAppName": "[concat('aks-',parameters('environmentName'),'-monitoring-la')]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('logicAppName')]",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "tags" : {
                "EnvironmentName": "[parameters('environmentName')]",
                "Branch":"[parameters('branch')]",
                "managedBy":"[parameters('managedBy')]",
                "solutionOwner": "[parameters('solutionOwner')]",
                "activityName": "[parameters('activityName')]",
                "dataClassification":"[parameters('dataClassification')]",
                "automation": "[parameters('automation')]",
                "costCentre":"[parameters('costCentre')]",
                "environment": "[parameters('environment')]",
                "criticality": "[parameters('criticality')]"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Condition_2": {
                                    "actions": {
                                        "HTTP_2": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "body": {
                                                    "attachments": [
                                                        {
                                                            "color": "@{variables('color')}",
                                                            "text": "Description: _@{body('Parse_JSON_2')?['data']?['context']?['description']}_",
                                                            "title": "@{body('Parse_JSON_2')?['data']?['context']?['name']}"
                                                        }
                                                    ],
                                                    "channel": "[parameters('slackChannel')]",
                                                    "username": "Azure Monitoring"
                                                },
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "POST",
                                                "uri": "[parameters('slackUri')]"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_JSON_2')?['data']?['status']",
                                                        "Deactivated"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Parse_JSON_2": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@triggerBody()",
                                        "schema": {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "context": {
                                                            "properties": {
                                                                "condition": {
                                                                    "properties": {
                                                                        "allOf": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "dimensions": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "name": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "value": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "name",
                                                                                                "value"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "metricName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "metricValue": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "operator": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "threshold": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "timeAggregation": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "metricName",
                                                                                    "dimensions",
                                                                                    "operator",
                                                                                    "threshold",
                                                                                    "timeAggregation",
                                                                                    "metricValue"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "windowSize": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "conditionType": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "portalLink": {
                                                                    "type": "string"
                                                                },
                                                                "resourceGroupName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceId": {
                                                                    "type": "string"
                                                                },
                                                                "resourceName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceType": {
                                                                    "type": "string"
                                                                },
                                                                "severity": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptionId": {
                                                                    "type": "string"
                                                                },
                                                                "timestamp": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "key1": {
                                                                    "type": "string"
                                                                },
                                                                "key2": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": [
                                                                "object",
                                                                "null"
                                                            ]
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "schemaId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "HTTP_4": {
                                        "runAfter": {
                                            "Parse_JSON": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http",
                                        "inputs": {
                                            "body": {
                                                "blocks": [
                                                  {
                                                    "type": "section",
                                                    "text": {
                                                      "type": "mrkdwn",
                                                      "text": "*Alert - @{body('Parse_JSON')?['data']?['AlertRuleName']}*\n_@{body('Parse_JSON')?['data']?['Description']}_"
                                                    }
                                                  },
                                                  {
                                                    "type": "section",
                                                    "fields": [
                                                      {
                                                        "type": "mrkdwn",
                                                        "text": "*Results*"
                                                      },
                                                      {
                                                        "type": "mrkdwn",
                                                        "text": "*Severity*"
                                                      },
                                                      {
                                                        "type": "plain_text",
                                                        "text": "@{body('Parse_JSON')?['data']?['ResultCount']}"
                                                      },
                                                      {
                                                        "type": "plain_text",
                                                        "text": "@{body('Parse_JSON')?['data']?['Severity']}",
                                                        "emoji": true
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "section",
                                                    "text": {
                                                      "type": "mrkdwn",
                                                      "text": "<@{body('Parse_JSON')?['data']?['LinkToSearchResults']}|View results>"
                                                    }
                                                  }
                                                ],
                                                "channel": "[parameters('slackChannel')]",
                                                "text": "Sev @{body('Parse_JSON')?['data']?['Severity']} - @{body('Parse_JSON')?['data']?['AlertRuleName']}",
                                                "username": "Azure Monitoring",
                                                "icon_emoji": ":azuremonitoring:"
                                            },
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "method": "POST",
                                            "uri": "[parameters('slackUri')]"
                                        }
                                    },
                                    "Parse_JSON": {
                                        "runAfter": {},
                                        "type": "ParseJson",
                                        "inputs": {
                                            "content": "@triggerBody()",
                                            "schema": {
                                                "properties": {
                                                  "data": {
                                                    "properties": {
                                                      "AlertRuleName": {
                                                        "type": "string"
                                                      },
                                                      "AlertThresholdOperator": {
                                                        "type": "string"
                                                      },
                                                      "AlertThresholdValue": {
                                                        "type": "integer"
                                                      },
                                                      "AlertType": {
                                                        "type": "string"
                                                      },
                                                      "Description": {
                                                        "type": "string"
                                                      },
                                                      "LinkToSearchResults": {
                                                        "type": "string"
                                                      },
                                                      "ResourceId": {
                                                        "type": "string"
                                                      },
                                                      "ResultCount": {
                                                        "type": "integer"
                                                      },
                                                      "SearchIntervalEndtimeUtc": {
                                                        "type": "string"
                                                      },
                                                      "SearchIntervalInSeconds": {
                                                        "type": "integer"
                                                      },
                                                      "SearchIntervalStartTimeUtc": {
                                                        "type": "string"
                                                      },
                                                      "SearchQuery": {
                                                        "type": "string"
                                                      },
                                                      "SearchResult": {
                                                        "properties": {
                                                          "dataSources": {
                                                            "items": {
                                                              "properties": {
                                                                "resourceId": {
                                                                  "type": "string"
                                                                },
                                                                "tables": {
                                                                  "items": {
                                                                    "type": "string"
                                                                  },
                                                                  "type": "array"
                                                                }
                                                              },
                                                              "required": [
                                                                "resourceId",
                                                                "tables"
                                                              ],
                                                              "type": "object"
                                                            },
                                                            "type": "array"
                                                          },
                                                          "tables": {
                                                            "items": {
                                                              "properties": {
                                                                "columns": {
                                                                  "items": {
                                                                    "properties": {
                                                                      "name": {
                                                                        "type": "string"
                                                                      },
                                                                      "type": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "required": [
                                                                      "name",
                                                                      "type"
                                                                    ],
                                                                    "type": "object"
                                                                  },
                                                                  "type": "array"
                                                                },
                                                                "name": {
                                                                  "type": "string"
                                                                },
                                                                "rows": {
                                                                  "items": {
                                                                    "type": "array"
                                                                  },
                                                                  "type": "array"
                                                                }
                                                              },
                                                              "required": [
                                                                "name",
                                                                "columns",
                                                                "rows"
                                                              ],
                                                              "type": "object"
                                                            },
                                                            "type": "array"
                                                          }
                                                        },
                                                        "type": "object"
                                                      },
                                                      "Severity": {
                                                        "type": "string"
                                                      },
                                                      "SubscriptionId": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "schemaId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@{triggerBody()?['schemaId']}",
                                            "AzureMonitorMetricAlert"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable_2": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "color",
                                        "type": "String",
                                        "value": "#D50200"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        },
        {
            "type": "Microsoft.Insights/actionGroups",
            "apiVersion": "2018-03-01",
            "name": "[variables('agName')]",
            "location": "Global",
            "dependsOn": [
                "[concat('Microsoft.Logic/workflows/', variables('logicAppName'))]"
            ],
            "tags" : {
                "EnvironmentName": "[parameters('environmentName')]",
                "Branch":"[parameters('branch')]",
                "managedBy":"[parameters('managedBy')]",
                "solutionOwner": "[parameters('solutionOwner')]",
                "activityName": "[parameters('activityName')]",
                "dataClassification":"[parameters('dataClassification')]",
                "automation": "[parameters('automation')]",
                "costCentre":"[parameters('costCentre')]",
                "environment": "[parameters('environment')]",
                "criticality": "[parameters('criticality')]"
            },
            "properties": {
                "groupShortName": "[variables('agShortName')]",
                "enabled": true,
                "smsReceivers": [],
                "emailReceivers": "[parameters('agEmailReceivers').receivers]",
                "webhookReceivers": [
                    {
                        "name": "slackHook",
                        "serviceUri": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', variables('logicAppName')), '/triggers/manual'), '2016-06-01').value]"
                    }
                ]
            }
        }
    ],
    "outputs": {
        "actionGroupID": {
            "type": "string",
            "value": "[resourceId('Microsoft.Insights/actionGroups/', variables('agName'))]"
        }
    }
}